<ul class="list">
	<li class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input ng-model="parameters.input_behavior.name" id="input-bhv" type="text" ng-change="changeInputBehavior(parameters.input_behavior.name)"/>
  	</li>
	<li class="item" ng-show="parameters.input_behavior.name.length>=1" ng-repeat="bhv in behaviors.occurences | filter:parameters.input_behavior | limitTo: 3" ng-click="changeInputBehavior(bhv.name)">
		{{bhv.name}}
	</li>
	<li class="item item-divider">
    	Options
  	</li>
	<li class="item item-toggle">
	  	Likert scale
		<label class="toggle toggle-calm">
			<input type="checkbox" ng-model="parameters.input_behavior_likert">
			<div class="track">
				<div class="handle"></div>
			</div>
		</label>
	</li>
</ul>