<ion-side-menus>
	<!-- Left menu -->
	<ion-side-menu side="left">
		<div class="item item-divider" style="margin-top:42px;">
			<h2>{{texts.h_response}} <italic>{{texts.h_latency}}</italic></h2>
			<!--         <button class="button alterable-help button-outline button-calm" ng-click="helpOccurence()">
			<i class="ion-help" style="margin:0 auto;"></i>
			</button> -->
		</div>
		<div class="list card tabs-task" ng-show="existATask()">
			<div class="item">
				<button class="button-icon ion-arrow-left-c" ng-if="existAnothertask()" ng-click="previousTask()"></button>
				<button class="button-icon ion-arrow-right-c" ng-if="existAnothertask()" ng-click="nextTask()"></button>
				<h2>{{interface.programs[parameters.index_pgm].behavior.name}}</h2>
				
			</div>
			<div class="item item-body">
				<div class="list list-inset">
					<label class="item item-input">
						<i class="icon ion-document-text placeholder-icon"></i>
						<textarea placeholder="{{texts.h_comment}}">
							
						</textarea>
					</label>
				</div>
				<p class="pinfopgm">
					<span class="spaninfopgm">
					{{interface.programs[parameters.index_pgm].nb_s}} {{texts.h_learn_alone}}, 
					{{interface.programs[parameters.index_pgm].nb_g}} {{texts.h_learn_guided}},
					{{interface.programs[parameters.index_pgm].nb_n}} NR
					</span><br>
					<span class="spaninfopgm">
					{{texts.h_reaction_avg}} {{interface.programs[parameters.index_pgm].avg_d}} sec.
					</span><br>
					<span class="spaninfopgm">
					{{texts.h_realisation_avg}} {{interface.programs[parameters.index_pgm].avg_r}} sec.
					</span><br>
				</p>
			</div>
			<button class="button button-full  button-calm" ng-click="askTask(1)" ng-disabled="interface.programs[parameters.index_pgm].disabled_ask_task">
				<span style="float:left;">
					{{texts.b_ask_setpoint[interface.programs[parameters.index_pgm].state_setpoint]}}
				</span>
			
				<span class="spantimer">
					{{zeroInit(interface.programs[parameters.index_pgm].min_d)}}:{{zeroInit(interface.programs[parameters.index_pgm].sec_d)}}
				</span>
			</button>      
			<button class="button button-full  button-positive" ng-click="askTask(2)" ng-disabled="interface.programs[parameters.index_pgm].disabled_time_delay_task">
				<span style="float:left;">
					{{texts.b_ask_waiting[interface.programs[parameters.index_pgm].state_waiting]}}
				</span>
				<span class="spantimer">
					{{zeroInit(interface.programs[parameters.index_pgm].min_r)}}:{{zeroInit(interface.programs[parameters.index_pgm].sec_r)}}
				</span>
			</button>     
			<div class="button-bar">
				<button class="button button-balanced" style="padding: 3px 0;" ng-click="respTask(1, 0, 0)" ng-disabled="interface.programs[parameters.index_pgm].disabled_resp_task">
					{{texts.b_learn_alone}}
				</button>
				<button class="button button-royal" style="padding: 3px 0;" ng-click="respTask(0, 1, 0)" ng-disabled="interface.programs[parameters.index_pgm].disabled_resp_task">
					{{texts.b_learn_guided}}
				</button>
				<button class="button button-assertive" style="padding: 3px 0;" ng-click="respTask(0, 0, 1)" ng-disabled="interface.programs[parameters.index_pgm].disabled_resp_task">
					NR
				</button>
			</div>
		</div>
		<div ng-show="!existATask()">
		<p>{{texts.h_empty_tasks}}</p>
		</div>
	</ion-side-menu>


	<!-- Right menu -->
	<ion-side-menu side="right">
		<div class="item item-divider" style="margin-top:42px;">
            <h2>{{texts.h_menu}}</h2>
<!--             <button class="button alterable-help button-outline button-calm" ng-click="helpOccurence()">
                <i class="ion-help" style="margin:0 auto;"></i>
            </button> -->
        </div>   
		<ul class="list" >
			<li class="item item-toggle">
				{{texts.h_save}}
				<label class="toggle toggle-calm">
					<input type="checkbox" checked>
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item">
				<button class="button" ng-click="saveInterface()">{{texts.h_storage_data}}</button>
			</li>
		</ul>
	</ion-side-menu>


	<div id="blur"></div>
	<ion-side-menu-content id="ion-side-menu-content" on-tap="sideMenu()" drag-content="false" on-swipe-left="openRight()" on-swipe-right="openLeft()">

		<ion-nav-bar class="bar-dark">
			<ion-nav-buttons side="left">
				<button  class="top button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>

			<ion-nav-buttons side="right">
				<button class="top button button-icon button-clear ion-navicon" menu-toggle="right"></button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view name="content"></ion-nav-view>

	</ion-side-menu-content>

	
</ion-side-menus>